* {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans";
    font-size: 13px;
    color: #222;
    text-align: center;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(image/bg1.jpeg) center no-repeat;
    background-size: cover;
}

.bg2{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.logo {
    font-family: lato, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    width: 60px;
    padding: 5px 5px;
    margin: 0px auto 0px auto;
    color: #fff;
    border: #fff 3px solid;
    position: absolute;
    top: 20px;
    left: 60px;
}

.logo-r {
    font-family: lato, sans-serif;
    color: #fff;
    font-size: 100px;
    width: 400px;
    padding: 20px;
    margin: 100px auto 50px auto;
    text-transform: uppercase;
    border: #fff 5px solid;
}

button{
    border: none;
}

.join {
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    background-color: #fff;
    padding: 10px 50px;
}

.join:hover{
    color: #fff;
    background-color: #222;
}

.container {
    margin: 60px auto 0px auto;
    padding: 40px 0px 50px 0px;
    width: 1040px;
    background-color: #fff;
}

h2{
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: capitalize;
}

.add, .submit {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    padding: 8px 16px;
    border: 1px solid;
    margin: 0px 0px 10px 750px;
    color: #333;
}

.add:hover, .submit:hover {
    font-weight: bold;
}

.add2{
    border: none;
    padding: 0px;
    margin: 0px;
}

.submit{
    margin: 20px 0px 0px 0px;
}

.table {
    margin: 0 auto;
}

th {
    background-color: #ccc;
    padding: 20px 55px;
    text-transform: uppercase;
    color:#fff;
}

td {
    padding: 15px;
}

.input {
    padding: 10px;
}

.new{
    margin-bottom: 50px;
}

.a{
    margin-bottom:20px;
}