* {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans";
    font-size: 13px;
    color: #707070;
    text-align: center;
}

h1 {
    font-family: lato, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 5px;
    width: 60px;

    margin: 20px auto;
    color: #c1d3e3;
    border: #c1d3e3 3px solid;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

h2 {
    font-size: 26px;
    text-transform: capitalize;
    padding: 30px;
    color: #333;
}

button {
    margin-bottom: 10px;
    alignment: left;
}

.table {
    margin: 0 auto;
}

th {
    background-color: #eeeeee;
    padding: 20px 60px;
    text-transform: uppercase;
    color: #444;
}

td {
    padding: 15px;
}