<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>anne pilates</title>
</head>
<body>
<h1 class="logo">Anne's</br> pilates</br> studio</h1>
<h2>Please enter your appointment details</h2>
<form method="post" action="" th:action="@{/insertAppointment}" th:object="${appointment}">
    <input type="hidden" name="id" th:field="*{id}" />
    Name: <input type="text" name="name" th:field="*{name}" /><br>
    Class: <input type="text" name="classname" th:field="*{classname}" /><br>
    Day:  <input type="date" name="appointmentDate" th:field="*{appointmentDate}" /><br>
    Time: <input type="time" name="appointmentTime" th:field="*{appointmentTime}" /><br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>