<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>anne pilates</title>
</head>
<body>
<div class="bg bg2">
<h1 class="logo">Anne's</br> pilates</br> studio</h1>
    <div class="container">
<h2 class="new">new appointment</h2>
<form method="post" action="" th:action="@{/insertAppointment}" th:object="${appointment}">
    <input class="a" type="hidden" name="id" th:field="*{id}" />
    Name: <input class="a" type="text" name="name" th:field="*{name}" /><br>
    Class: <input class="a" type="text" name="classname" th:field="*{classname}" /><br>
    Day:  <input class="a" type="date" name="appointmentDate" th:field="*{appointmentDate}" /><br>
    Time: <input class="a" type="time" name="appointmentTime" th:field="*{appointmentTime}" /><br>
    <input class="submit" type="submit" value="Submit"/>
</form>
</div>
</div>
</body>
</html>